.App .navbar {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: rgb(58, 163, 102);
}

.App .navbar .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: bold;
}

.App .navbar .nav-links>a{
  color: #fff;
  text-decoration: none;
}

.accent {
    background-color: #f3f3f3;
}